

.deals {
    padding-top: 110px;
    padding-bottom: 110px;
    @include tablet {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    @include mobile {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__container {}

    &__header {}

    &__tabs {}
}

.header-deals {
    display: flex;
    margin-bottom: 50px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    &__content {
        flex: 1 1 auto;
    }

    &__title {
        margin-bottom: 15px;
        @include mobile {
                text-align: center;
            }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        max-width: 470px;
        @include mobile{
            text-align: center;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        background: #000;
        background: #F85A47;
        box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
        border-radius: 5px;
        display: inline-block;
        padding: 22px 33px;
        transition: all 0.3s ease 0s;
        &:hover{
            background: #c93a2a;
        }
        @include mobile{
            width: 100%;
        }
    }
}





.tabs-deals {

    &__nav {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 10px;
        margin-bottom: 45px;
    }

    &__button {
        background: transparent;
        font-weight: 400;
        font-size: 19px;
        line-height: 26px;
        position: relative;
        cursor: pointer;
        color: #000000;
        transition: color 0.3s ease 0s;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width 0.3s ease 0s;
            background-color: #F85A47;
            height: 1px;
            
        }
        &:hover::after{
            width: 100%;
        }
        &:hover{
           color: #F85A47; 
        }
    }

    &__body {}

    &__item {
        display: none;
    }

    &__item.active{
        display: block;
    }
}

.tabs-deals__button.active {
    color: #F85A47;
}

.tabs-deals__button.active::after{
    width: 100%;
}



.item-tabs {

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__options {
        position: absolute;
        left: 14px;
        top: 14px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        z-index: 2;
    }

    &__option {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        padding: 6px 12px;
        transition: all 0.3s ease 0s;
        &:hover{
            background: rgba(0, 0, 0, 0.7);
        }
    }

    &__image {
        position: relative;
        padding-bottom: 81%;
        display: block;
        border-radius: 5px;
        overflow: hidden;
        
    }

    &__image img{
        transition: transform 0.3s ease 0s;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        &:hover{
            transform: scale(1.1);
        }
    }
}